---
import { Image, Picture } from "astro:assets";
import heroImg from "./assets/IMG_3657.jpg";
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import Title2 from "../../shared/Title2.astro";
import Title3 from "../../shared/Title3.astro";
import LazyImage from "../../shared/LazyImage.astro";

const heroSection = {
  title1: "D.P. Piping",
  title2: "Rhode Island's Premier Residential and Commercial Plumbing Services Provider",
  title3: "Built strong. Done right.",
  buttonText: "Call or Email to Get Started Today!",
  backgroundImage: "IMG_3657.jpg",
};

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className} h-auto md:h-screen` id="hero">
  <div class="h-auto md:h-screen pt-[100px]">
    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 justify-end bg-base-100 dark:bg-base-dark-900"
    >
      <div class="justify-center flex flex-col text-center md:ml-auto">
        <Title className="">
          <GradiantText>
            {heroSection.title1}
          </GradiantText>
        </Title>
        <Title className="text-4xl">
            {heroSection.title2}
        </Title>
        <Title3 className=" mt-10 leading-9 italic">
            {heroSection.title3}
        </Title3>
        <div class="pt-10">
          <CtaButton>{heroSection.buttonText}</CtaButton>
        </div>
      </div>
      <div class="flex relative pt-10 md:p-0">
        <LazyImage
          src={heroImg}
          alt="A picture of a wind turbine."
          className="w-full h-full object-cover"
        />
        <svg
          class="fill-base-100 dark:fill-base-dark-900 z-10 absolute top-0 start-0 h-full hidden md:block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 400"
        >
          <path d="M0 0l0 400L100 0Z"> </path>
        </svg>
      </div>
    </div>
  </div>
</section>
