---
import { Image, Picture } from "astro:assets";
import heroImg from "./assets/IMG_3657.jpg";
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import Title2 from "../../shared/Title2.astro";
import Title3 from "../../shared/Title3.astro";
import LazyImage from "../../shared/LazyImage.astro";

const heroSection = {
  title1: "Mechanical Services & Heating and Cooling Installation",
  title2:
    "Air Compressor Systems & Air Piping Installation",
  title3: "Built strong. Done right.",
  buttonText: "Call or Email to Get Started Today!",
  backgroundImage: "IMG_3657.jpg",
};

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className} h-auto md:h-screen` id="hero">
  <div class="h-auto md:h-screen pt-[100px]">
    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 justify-end bg-base-100 dark:bg-base-dark-900"
    >
      <div class="justify-center flex flex-col text-center mt-4 md:mt-0 md:ml-auto">
        <Title className="lg:text-4xl text-xl">
            {heroSection.title1}
        </Title>
        <Title className="lg:text-4xl text-xl">
          {heroSection.title2}
        </Title>
        <Title3 className="lg:text-2xl text-l leading-9 italic">
          {heroSection.title3}
        </Title3>
        <div get-started data-open-nav="false" class="pt-10">
          <CtaButton
            >{heroSection.buttonText}</CtaButton
          >
        </div>
      </div>
      <div class="flex relative pt-10 md:p-0">
        <LazyImage
          src={heroImg}
          alt="A picture of a wind turbine."
          className="w-full h-full object-cover"
        />
        <svg
          class="fill-base-100 dark:fill-base-dark-900 z-10 absolute top-0 start-0 h-full hidden md:block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 400"
        >
          <path d="M0 0l0 400L100 0Z"> </path>
        </svg>
      </div>
    </div>
  </div>
  <script>
    const navbar = document.querySelector("[data-navbar]") as HTMLDivElement;
    const overlayNav = document.querySelector(
      "[data-nav-overlay]",
    ) as HTMLDivElement;
    const getStartedButton = document.querySelector("[get-started]") as HTMLDivElement;
    if (getStartedButton) {
      getStartedButton.addEventListener("click", (e) => {
        e.preventDefault();
        if (getStartedButton.getAttribute("data-open-nav") === "false") {
          getStartedButton.setAttribute("data-open-nav", "true");
          overlayNav.setAttribute("data-is-visible", "true");
          document.body.classList.add("!overflow-y-hidden");
          navbar.style.height = `${navbar.scrollHeight}px`;
        } else {
          getStartedButton.setAttribute("data-open-nav", "false");
          overlayNav.setAttribute("data-is-visible", "false");
          document.body.classList.remove("!overflow-y-hidden");
          navbar.style.height = "0px";
        }
      });

      navbar.addEventListener("click", () => {
        getStartedButton.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });

      overlayNav.addEventListener("click", () => {
        getStartedButton.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });
    }
  </script>
</section>
